@import 'shared/UI/variables';
@import 'shared/UI/mixins';

.container {
  @include page-container();
  align-items: center;

  h2 {
    font-family: $heading-font;
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
  }

  h3 {
    margin-top: 0;
    font-size: 1.3rem;
    text-align: center;
  }
}

.error {
  color: $failure-color;
}

.success {
  color: $success-color;
}

.inputs {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 1.1rem;

  input {
    @include input();
  }

  button {
    @include button($primary-color);
    margin: 1rem 0 1.5rem 0;
    padding: 0.6rem 1rem;
  }
}
