@import 'shared/UI/variables';
@import 'shared/UI/mixins';

.successBanner {
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
  background-color: $success-color;
  padding: 0.8rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $mobile-breakpoint) {
    padding: 0.6rem 1.2rem;
  }
}

.container {
  @include page-container();

  h2 {
    font-family: $heading-font;
    font-weight: 400;
    font-size: 1.5rem;
  }
}

.createButton {
  @include button($primary-color);
  margin: 0.5rem;
}

.formCard {
  @include card();
  margin: 1rem;
  padding: 1rem;

  .firstRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .formName {
      font-size: 1.2rem;
    }
  }

  .secondRow {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      @include invertedButton($primary-color);
      display: inline-block;
      margin: 0.6rem 1rem 0;
      font-size: 1rem;
      padding: 0.25rem 0.6rem;
    }
  }
}

.formBadge {
  @include badge($primary-color);
}

.loader {
  display: flex;
  justify-content: center;
  padding: 4rem;
  font-size: 1.4rem;
  color: $primary-color;
}

.error {
  display: flex;
  justify-content: center;
  padding: 4rem;
  font-size: 1.4rem;
  color: $failure-color;
}
