@import './functions';
@import './variables';

@mixin clear-button($bg-color) {
  color: pick-visible-color($bg-color, white, black);
  background-color: rgba(0, 0, 0, 0);
  font-family: $body-font;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.4rem 0.8rem;
  border: 1px solid pick-visible-color($bg-color, white, black);
  border-radius: 2px;
  cursor: pointer;
}

@mixin button($bg-color) {
  color: pick-visible-color($bg-color, white, black);
  background-color: $bg-color;
  font-family: $body-font;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;

  &:disabled, &:disabled:hover {
    color: $disabled-color;
    background-color: $disabledBG-color;
  }
}
