@import 'shared/UI/variables';
@import 'shared/UI/mixins';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.upper {
  width: 100%;
  background-color: $primary-color;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: 400;
    font-size: 1.8rem;
    text-align: center;
    margin: 3rem 0 0;
  }
}

.getStarted {
  @include button(white);
  color: $primary-color;
  font-size: 1.3rem;
  margin: 3rem 1rem;
  padding: 1rem 1.2rem;

  @media (max-width: $mobile-breakpoint) {
    font-size: 1.15rem;
    padding: 0.8rem 1rem;
  }
}

.examples {
  width: 100%;
  margin: 3rem 0;

  h2 {
    font-family: $heading-font;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0 1rem 0;
  }
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.exampleCard {
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
  margin: 1rem;
  width: 25rem;

  h3 {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
  }
}
