@import 'helpers/UI/variables';
@import 'helpers/UI/mixins';

.successBanner {
  @include notification-banner($success-color);
  position: -webkit-sticky;
  position: sticky;
  top: 4.75rem;
  z-index: 1;
}

.container {
  @include page-container();

  h2 {
    font-family: $heading-font;
    font-weight: 400;
    font-size: 1.5rem;
  }
}

.createButton {
  @include button($primary-color);
  margin: 0.5rem;
}

.formCard {
  @include card();
  margin: 1rem;
  padding: 1rem;

  .firstRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .formName {
      font-size: 1.2rem;
      display: flex;
      align-items: center;

      div {
        display: inline-block;
        font-size: 1rem;
        color: $failure-color;
        margin-left: 0.2rem;
      }
    }
  }

  .secondRow {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      @include invertedButton($primary-color);
      display: inline-block;
      margin: 0.6rem 1rem 0;
      font-size: 1rem;
      padding: 0.25rem 0.6rem;
    }
  }
}

.publishedBadge {
  @include badge($primary-color);
}

.unpublishedBadge {
  @include badge($failure-color);
}

.loader {
  display: flex;
  justify-content: center;
  padding: 4rem;
  font-size: 1.4rem;
  color: $primary-color;
}

.error {
  display: flex;
  justify-content: center;
  padding: 4rem;
  font-size: 1.4rem;
  color: $failure-color;
}
