@import 'shared/UI/variables';
@import 'shared/UI/mixins';

.trueFalse {
  label {
    display: block;
  }

  input {
    @include radio-button($primary-color);
  }
}

.multipleChoice {
  label {
    display: block;
  }

  input {
    @include checkbox($primary-color);
  }
}

.matching {
  select {
    @include select($primary-color);
    height: 1.4rem;
    margin-right: 0.3rem;
  }

  .columnContainer {
    display: flex;
    flex-wrap: wrap;

    .column {
      margin-right: 1rem;

      &:last-of-type {
        margin: 0;
      }
    }
  }

  .letter {
    display: inline-block;
    color: $primary-color;
    font-weight: bold;
    margin-right: 0.3rem;
  }

  .row {
    display: flex;
    align-items: center;
    height: 1.4rem;
    margin: 0.3rem 0;
  }
}

.ranking {
  display: block;

  .item {
    background-color: $primary-color;
    color: white;
    border-radius: 0.5rem;
    margin: 0.2rem;
    padding: 0.4rem 0.8rem;
    display: inline-block;
  }
}

.shortAnswer {
  textarea {
    @include textarea();
    margin: 0.5rem 0;
  }
}

.essayAnswer {
  textarea {
    @include textarea();
    margin: 0.5rem 0;
  }
}
