// Fonts
$heading-font: 'Prata';
$body-font: 'Lato';

// Colors
$primary-color: #0046b7;

$success-color: #4CAE4C;
$failure-color: #CC0000;

$disabled-color: #555;
$disabledBG-color: #aaa;

// Breakpoints
$mobile-breakpoint: 768px;
