@import 'shared/UI/variables';
@import 'shared/UI/mixins';

.container {
  @include page-container();
}

.header {
  padding: 1rem;
  border-bottom: 1px lightgray solid;
  position: -webkit-sticky;
  position: sticky;
  top: 4.8rem;
  background-color: white;

  @media (max-width: $mobile-breakpoint) {
    padding: 0.7rem;
    top: 3.5rem;
  }
}

.headerButton {
  @include button($primary-color);
  margin: 0 0.4rem;
}

.select {
  @include select($primary-color);
}

.nameInput {
  @include input();
  font-size: 1.3rem;
  margin: 1rem 0;
  padding: 0.5rem;
}

.questionCard {
  @include card();
  margin: 1rem 0;
  padding: 1rem;
}

.questionTop {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  display: flex;

  textarea {
    @include textarea();
    margin: 0 1rem;
  }

  i {
    cursor: default;
  }
}

.centeredBadge {
  display: flex;

  div {
    @include badge($primary-color);
  }
}

.optionsPrompt {
  color: darken($primary-color, 15%);
  margin: 1rem 0 0.5rem 0;
}

.answerPrompt {
  color: darken($primary-color, 15%);
  margin: 1rem 0 0.2rem 0;
}

.columnContainer {
  display: flex;
  flex-wrap: wrap;

  .column {
    margin-right: 1rem;

    &:last-of-type {
      margin: 0;
    }
  }
}
