@import 'shared/UI/variables';
@import 'shared/UI/mixins';

.container {
  @include page-container();
}

.header {
  padding: 1rem;
  border-bottom: 1px lightgray solid;
}

.headerButton {
  @include button($primary-color);
  margin: 0 0.4rem;
}

.select {
  @include select($primary-color);
}
